*{
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    height: 100vh;
}

.topbar {
    width: 100%;
    height: 65px;
    background-color: rgb(6, 87, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.burger-box{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 10px;
}

.burger-box span {
    width: 34px;
    height: 5px;
    background-color: aliceblue;
}

.logo {
    margin: 0 10px;
}


/* Section */
.sections {
    width: 100%;
    height: calc(100vh - 65px);
    position: relative;
    top: 65px;
}

.intro , .work , .contact {
    width: 100%;
    height: 100%;
}

/* intro */
.intro{
    background-color: aqua;
}
/* work */
.work{
    background-color: blueviolet;
}
/* contact */
.contact{
    background-color: brown;
}