*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 250ms ease;
}

.app {
    height: 100vh;
    scrollbar-width: none;
    
}
.app > ::-webkit-scrollbar{
    display: none;
}

.topbar {
    width: 100%;
    height: 65px;
    background-color: rgb(6, 87, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.burger-box{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 10px;
    cursor: pointer;
}
.burger-box:hover{
    transform: scale(1.1)
}

.burger-box span {
    width: 34px;
    height: 5px;
    background-color: aliceblue;
}

.logo {
    margin: 0 10px;
    cursor: default;
    color: aliceblue;
    font-size: 26px;
    letter-spacing: 2px;
}


/* Section */
.app > .sections {
    width: 100%;
    height: calc(100vh - 65px);
    position: relative;
    top: 65px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.app > .sections > *{
    scroll-snap-align: start;
    width: 100%;
    height: calc(100vh - 65px);
    scroll-behavior: smooth;
}

/* Menu */
.menu{
    width: 280px;
    height: 100vh;
    background-color: rgb(6, 87, 238);
    position: fixed;
    top: 0;
    right: -280px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu > ul{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12rem;
    list-style: none;
}
.menu > ul > li{
    margin: 14px;
}
.menu > ul > li > a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.menu > ul > li:hover{
    transform: scale(1.1)
}


/* intro */
.intro{
    display: flex;
    flex-direction: row;
}
.intro > .left{
    flex: 1;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}
.intro > .left > img {
    width: 550px;
    height: 560px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #0956f4;
}
.intro > .right{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;   
}

#down{
    width: 40px;
    height: 40px;
    position: relative;
    left: 40%;
    margin-top: 20px;
    cursor: pointer;
}
#down:hover{
    transform: scale(1.2);
}
/* work */
.work{
    background-color: #fff;
}
.work-detail{
    text-align: center;
}
.work-detail > p {
    margin-top: 10px;
}

/* slider */

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
.bt {
    margin-top: 2rem;
}
.bt > button {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-color: #0956f4;
}
.bt > button:hover{
    background-color: aquamarine;
    border: 2px solid #555;
}
.bt > button:active{
    background-color: #1eeede;
    color: orangered;
}
.slider-box{
    padding: 4px;
    width: 80%;
    display: flex;
    border: 2px solid #0956f4;
    border-radius: 10px;
}
.slider-box > a{
    flex: 1;
    
}
.slider-box > a > img{
    width: 100%;
    object-fit: cover;
}


.img-detail{
    flex: 1;
    text-align: center;
    display: flex;
    border-left: 2px solid #0956f4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#img-data {
    margin: 30px;
    text-align: center;

}
/* contact */
.contact{
    background-color: brown;
}